.TopBar-header {
    background-color: #282c34;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin); /* calculate size dynamically */
    color: white;
}

.TopBar-logo {
    height: 30px;
    pointer-events: none;
}

.TopBar-title {
    font-weight: bold;
    flex: 1;   /* flex: 1 --> flex-grow: 1 remaining part give title */
    text-align: left;
    color: #61dafb;
    font-size: 17px;
}

.TopBar-logout {
    font-size: 20px;
    padding-right: 20px;
}
